/*
* Adikia Website 2025
* CSS Styles
*/

/* === VARIABLES === */
:root {
    /* vert clair */
    --color-primary: #4ca08d;

    /* kaki foncé */
    --color-secondary: #7f9497;

    /* kaki clair */
    --color-tertiary: #a6c0c4;

    /* gris de fond */
    --color-background: #eaecec;

    --color-text: #333;
    --color-white: #fff;
    --font-family: 'Roboto Condensed', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
}

/* === GENERAL === */
body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* overflow-x: hidden; */
}

emph {
    font-style: italic;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 50px 0;
}

section:nth-child(odd) {
    background-color: var(--color-background);
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1,
h2,
h3 {
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.5;
}

h2,
h3 {
    font-size: 2.8em;
    color: var(--color-secondary);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: 2.2em;
}

p {
    font-size: 1.4em;
    text-align: center;
    max-width: 900px;
    margin: 25px auto 25px auto;
}

label {
    font-size: 1.4em;
}

.btn {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px 35px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 10px;
    font-size: 1.4em;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #3a8a7b;
}

/* === HEADER === */
header {
    background-color: var(--color-white);
    padding: 20px 0;
    border-bottom: 1px solid var(--color-background);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 90px;
}

header .slogan {
    font-size: 1.4em;
    text-transform: uppercase;
    color: var(--color-secondary);
    margin: 0 0 0 40px;
}

header .slogan strong {
    font-weight: var(--font-weight-bold);
}

/* === HERO === */
.hero {
    background: url('../img/hero.jpg') no-repeat center center/cover;
    min-height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    padding: 0;
}

.hero-text h1 {
    padding: 0 20px;
    font-size: 3.5em;
    font-weight: 400;
    line-height: 1.25;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}

.hero-text {
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-text strong {
    color: var(--color-primary);
    font-size: 1.25em;
}

/* === DESCRIPTION === */
.description p {
    font-size: 1.75em;
    /* line-height: 1.5; */
    color: var(--color-text);
}

.description hr {
    width: 50%;
    height: 1px;
    border: 0;
    background-color: var(--color-secondary);
}

/* === SUPPORT === */
.support {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.support h2 {
    color: var(--color-white);
}

.support p {
    color: var(--color-background);
}

.support .key-figures {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 40px;
    margin-top: 40px;
}

.support .figure {
    flex: 1;
}

.support .number {
    display: block;
    font-size: 4.5em;
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    margin-left: 10px;
    margin-top: 10px;
    /* margin-bottom: -20px; */
    line-height: 1em;
}

.support .label {
    font-size: 1.5em;
    color: var(--color-background);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    margin-top: 20px;
    padding-top: 0;
}

/* === NETWORK === */
.network {
    background-color: var(--color-tertiary) !important;
}

.network h2 {
    color: var(--color-white);
}

.network p {
    color: var(--color-text);
}

.network .books {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    margin-top: 40px;
}

.network .books a {
    flex: 1 0 200px;
}

.network .books img {
    max-height: 300px;
    width: 100%;
    transition: transform 0.3s ease;
}

.network .books img:hover {
    transform: scale(1.1);
}

/* === UNDERSTANDING === */
.understanding h2 {
    color: var(--color-primary);
}

/* === MEDIA === */
.media .media-logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    align-items: center;
    margin: 40px 0;
}

.media .media-logos a {
    filter: grayscale(100%);
    width: 80%;
    aspect-ratio: 1;
    margin: 0 auto;
    transition: all 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.media .media-logos img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    /* height: 100%; */
}

.media .media-logos a:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

/* Specific logo adjustments */
.media .media-logos img[src*="tf1"] {
    transform: scale(0.75);
}

.media .media-logos img[src*="france_2"],
.media .media-logos img[src*="france_5"] {
    transform: scale(0.5);
}

.media .media-logos img[src*="france_3"] {
    transform: scale(1.3);
}

.media .media-logos img[src*="m6"] {
    transform: scale(0.7);
}

.media .media-logos img[src*="bfmtv"],
.media .media-logos img[src*="france_24"],
.media .media-logos img[src*="france_bleu"],
.media .media-logos img[src*="france_inter"],
.media .media-logos img[src*="france_culture"],
.media .media-logos img[src*="nrj12"] {
    transform: scale(0.65);
}

.media .media-logos img[src*="france_info"] {
    transform: scale(1.3);
}

.media .media-logos img[src*="rtl"] {
    transform: scale(0.7);
}

.media .media-logos img[src*="rmc"] {
    transform: scale(1.12);
}

.media .media-logos img[src*="le_monde"] {
    transform: scale(1.25);
}

.media .media-logos img[src*="le_figaro"],
.media .media-logos img[src*="madame_figaro"] {
    transform: scale(1.2);
}

.media .media-logos img[src*="parole_de_mamans"] {
    transform: scale(0.9);
}

.media .media-logos img[src*="la_croix"] {
    transform: scale(1.1);
}

.media .media-logos img[src*="nice-matin"] {
    transform: scale(1.3);
}

.media .media-logos img[src*="midi_libre"] {
    transform: scale(1.3) translateY(2px);
}

.media .media-logos img[src*="lindependant"] {
    transform: scale(1.2) translateY(1px);
}

.media .media-logos img[src*="le_progres"] {
    transform: scale(1.15);
}

.media .media-logos img[src*="jsl"] {
    transform: scale(1) translateY(2px);
}

.media .media-logos img[src*="lest_republicain"] {
    transform: scale(0.75);
}

.media .media-logos img[src*="20_minutes"] {
    transform: scale(0.5);
}

.media .media-logos img[src*="rue89"] {
    transform: scale(0.8);
}

.media .media-logos img[src*="konbini"] {
    transform: scale(0.75);
}

.media .media-logos img[src*="aufeminin"] {
    transform: scale(1.2);
}

/* === KONBINI === */
.konbini {
    background-color: var(--color-primary);
}

.konbini h2 {
    color: var(--color-background);
}

.konbini p {
    color: var(--color-white);
}

.konbini .video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 40px auto;
}

.konbini .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* === HISTORY === */
.history .timeline {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.history p {
    /* text-align: justify; */
    margin: 0 auto 60px auto;
}

.history a:hover {
    filter: brightness(150%);
}


.history .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--color-tertiary);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.history .timeline-item {
    padding: 10px 40px;
    position: relative;
}

.history .timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
    width: 37.25%;
}

.history .timeline-item:nth-child(even) {
    left: 49.39%;
    width: 37.25%;
    text-align: left;
}

.history .timeline-dot {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--color-primary);
    border: 4px solid var(--color-background);
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}

.history .timeline-item:nth-child(odd) .timeline-dot {
    right: -8px;
}

.history .timeline-item:nth-child(even) .timeline-dot {
    left: -8px;
}

.history .timeline-year {
    font-weight: var(--font-weight-bold);
    font-size: 1.6em;
    color: var(--color-secondary);
}

.history .timeline-content {
    font-size: 1.2em;
}

/* === UNDERSTANDING & SUPPORT-US === */
.understanding,
.support-us {
    text-align: center;
}

.support-us {
    background: url('../img/support.jpg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 70%;
    background-size: cover;
    text-align: center;
    color: var(--color-white);
}

.support-us h2 {
    color: var(--color-white);
    margin: 40px auto 0 auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.support-us p {
    color: var(--color-white);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 180px auto 40px auto;
}

.support-us .btn {
    margin: 0 20px 40px 20px;
    color: var(--color-white);
    background-color: var(--color-primary);
    width: 20%;
}

.support-us .btn:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
}

/* === CONTACT === */
.contact {
    background-color: var(--color-tertiary) !important;
    color: var(--color-background);
}

.contact p {
    color: var(--color-text);
}

.contact h2 {
    color: var(--color-white);
}

.contact form {
    max-width: 900px;
    margin: 40px auto 0 auto;
}

.contact .form-group {
    margin-bottom: 25px;
}

.contact .form-group.form-info {
    margin-bottom: 0;
}


.contact label {
    display: block;
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
}

.contact .radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.contact .radio-group input[type="radio"] {
    display: none;
}

.contact .radio-group label {
    padding: 10px 20px;
    flex: 2 1 100px;
    border: 1px solid var(--color-tertiary);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--color-secondary);
    background-color: var(--color-background);
    font-weight: normal;
    text-align: center;
}

.contact .radio-group label:hover {
    filter: brightness(0.92);
}

.contact .radio-group input[type="radio"]:checked+label {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.contact .form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.contact .form-fields .form-group {
    margin-bottom: 0;
}

.contact .form-fields .form-first-name {
    flex: 2 2 300px;
}

.contact .form-fields .form-last-name {
    flex: 2 2 408px;
}

.contact .form-fields .form-email {
    flex: 2 2 300px;
}

.contact .form-fields .form-phone {
    flex: 2 0 150px;
}

.contact .form-fields .form-postal-code {
    flex: 2 0 150px;
}

.contact .form-fields .form-message {
    width: 100%;
}

.contact .form-fields input {
    width: 100%;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact textarea {
    padding: 15px;
    border: 1px solid var(--color-tertiary);
    border-radius: 5px;
    font-family: var(--font-family);
    font-size: 1.2em;
    box-sizing: border-box;
}

.contact textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
}

.contact button[type="submit"] {
    width: 100%;
    margin: 20px 0 0 0;
    border: 0;
    background-color: var(--color-secondary);
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact button[type="submit"]:hover {
    filter: brightness(0.92);
}

.contact .form-fields.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* === FOOTER === */
footer {
    background-color: var(--color-text);
    color: var(--color-white);
    text-align: center;
    padding: 60px 0;
}

footer .social-logos {
    margin-bottom: 25px;
    cursor: default;
}

footer .social-logos a {
    margin: 0 15px;
    font-size: 28px;
    /* Font Awesome icon size */
    color: var(--color-white);
    opacity: 0.75;
    transition: all 0.3s ease;
}

footer .social-logos i {
    transition: all 0.3s ease;
}

footer .social-logos a:hover {
    opacity: 1;
}

footer .social-logos a:hover i {
    transform: scale(1.1);
}

footer .footer-links {
    font-size: 1.2em;
    margin-bottom: 20px;
}

footer .footer-links a {
    color: var(--color-background);
    text-decoration: none;
    margin: 0 10px;
}

footer .footer-links a:hover {
    color: var(--color-white);
}

footer p {
    font-size: 1em;
    margin-bottom: 0;
}

/* === RESPONSIVE === */

@media (max-width: 300px) {

    h1,
    h2 {
        line-break: anywhere !important;
    }
}

@media (max-width: 500px) {

    .media .media-logos {
        gap: 0;
    }

    .media .media-logos a {
        width: 50%;
    }

    footer .social-logos a {
        margin: 0 10px;
    }
}


@media (max-width: 900px) {
    br {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: max(6.5vw, 2em) !important;
        line-break: loose;
    }

    h2 {
        font-size: 2.2em;
        line-break: loose;
    }

    p {
        font-size: 1.2em;
    }

    header .slogan {
        margin: 0;
        font-size: 1.3em;
    }

    .hero {
        min-height: 400px;
    }

    .btn {
        font-size: 1em;
    }

    header .container {
        flex-direction: column;
        gap: 20px;
    }

    .support .key-figures {
        flex-direction: column;
        gap: 40px;
    }

    .network .books {
        flex-direction: column;
        align-items: center;
    }

    .history .timeline::after {
        left: 31px;
    }

    .history .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        margin-left: 50px;
    }

    .history .timeline-item:nth-child(odd),
    .history .timeline-item:nth-child(even) {
        left: 0;
        text-align: left;
    }

    .history .timeline-item:nth-child(odd) .timeline-dot,
    .history .timeline-item:nth-child(even) .timeline-dot {
        left: 18px;
    }

    .history .timeline::after {
        left: 80px;
    }

    .support-us {
        background-position-y: 100%;
    }

    .support-us h2 {
        margin: 20px auto 0 auto;
    }

    .support-us p {
        margin: 50px auto 40px auto;
    }

    .support-us .btn {
        margin: 10px 20px;
        width: 50%;
    }

    .contact .form-fields .form-group {
        flex-basis: 100%;
        /* Stack form fields on smaller screens */
    }
}
